<div class="page-header">
  <h1>Dashboard</h1>
</div>

<h2>Jobs</h2>
<hr>
<%= render partial: "tables/jobs", locals: {jobs: @jobs} %>

<h2>Scheduled Actions</h2>
<hr>
<%= render partial: "tables/scheduled_actions", locals: {scheduled_actions: @scheduled_actions} %>



<h2>Virtual Machines</h2>
<hr>
<%= render partial: "tables/vms", locals: {vms: @vms} %>

