<%= simple_form_for(@user_provider) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :provider_id, collection: Provider.all %>
    <%= f.input :api_key %>
    <%= f.input :api_secret %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
