<h1>Listing Providers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Provider</th>
      <th>Api key</th>
      <th>Api secret</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_providers.each do |user_provider| %>
      <tr>
        <td><%= user_provider.user_id %></td>
        <td><%= user_provider.provider_id %></td>
        <td><%= user_provider.api_key %></td>
        <td><%= user_provider.api_secret %></td>
        <td><%= link_to 'Show', user_provider %></td>
        <td><%= link_to 'Edit', edit_user_provider_path(user_provider) %></td>
        <td><%= link_to 'Destroy', user_provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users provider', new_user_provider_path %>
