<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_provider.user_id %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @user_provider.provider_id %>
</p>

<p>
  <strong>Api key:</strong>
  <%= @user_provider.api_key %>
</p>

<p>
  <strong>Api secret:</strong>
  <%= @user_provider.api_secret %>
</p>

<%= link_to 'Edit', edit_user_provider_path(@user_provider) %> |
<%= link_to 'Back', user_providers_path %>
