<%= form_for(@action_result) do |f| %>
  <% if @action_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action_result.errors.count, "error") %> prohibited this action_result from being saved:</h2>

      <ul>
      <% @action_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
