<h1>Listing action_results</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @action_results.each do |action_result| %>
  <tr>
    <td><%= action_result.name %></td>
    <td><%= link_to 'Show', action_result %></td>
    <td><%= link_to 'Edit', edit_action_result_path(action_result) %></td>
    <td><%= link_to 'Destroy', action_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Action result', new_action_result_path %>
