<%= render 'user_provider_filter' %>
<hr>
<div class="alert alert-success" role="alert" id="no_more_vms" style="display:none">Nothing left to add.</div>
<% @vm_list.each_with_index do |vm, idx| %>
  <%= simple_form_for :vm,
                      :url    => vms_path,
                      :method => :post,
                      :remote => true,
                      :html   => {
                        :class => 'form-horizontal',
                        :id    => "new_vm_#{idx}"
                      } do |f|
  %>
    <div class="alert alert-danger" role="alert" id="error_<%=idx%>" style="display:none"></div>
    <div class="form-group">
      <%= "Name: #{vm['name']}" %>
      <%= f.input :name, as: :hidden, input_html: { value: vm['name'] } %>
    </div>

    <div class="form-group">
      <%= "UUID: #{vm['uuid']}" %>
      <%= f.input :uuid, as: :hidden, input_html: { value: vm['uuid'] } %>
    </div>

    <%= f.input :api_key, as: :hidden, input_html: { value: vm['api_key'] } %>
    <%= f.input :api_secret, as: :hidden, input_html: { value: vm['api_secret'] } %>
    <%= f.input :provider_id, as: :hidden, input_html: { value: vm['provider'] } %>

    <%= f.button :submit, "Add VM", :class => 'btn-success', disabled: true %>
  <% end %>
<% end %>
<hr>
<%= button_to "Done", vms_path, method: :get, class: 'btn-primary' %>
