<%= simple_form_for @vm, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :uuid %>
  <%= f.input :api_key %>
  <%= f.input :api_secret %>
  <%= @vm_list %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vms_path, :class => 'btn' %>
  </div>
<% end %>
