<%= form_tag(new_vm_path(@vm), method: "GET", class: "form-inline") do %>
  <span class="block-label">
    <%= select_tag(
          'provider_id',
          options_for_select(UserProvider.all.map{|up| [up.provider.name, up.id]}, params[:provider_id]),
          class: "form-control"
        )
    %>
  </span>
  <%= submit_tag "Find by Provider", class: "btn blue" %>
<% end %>
