<%- model_class = Vm -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render partial: "tables/vms", locals: {vms: @vms} %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_vm_path,
            :class => 'btn btn-primary' %>
