<h1>Listing frequencies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cron</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @frequencies.each do |frequency| %>
  <tr>
    <td><%= frequency.name %></td>
    <td><%= frequency.cron %></td>
    <td><%= link_to 'Show', frequency %></td>
    <td><%= link_to 'Edit', edit_frequency_path(frequency) %></td>
    <td><%= link_to 'Destroy', frequency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Frequency', new_frequency_path %>
