<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @frequency.name %>
</p>

<p>
  <b>Cron:</b>
  <%= @frequency.cron %>
</p>


<%= link_to 'Edit', edit_frequency_path(@frequency) %> |
<%= link_to 'Back', frequencies_path %>
