<%- model_class = Job -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:scheduled_action_id) %></th>
      <th><%= model_class.human_attribute_name(:cloudstack_job) %></th>
      <th><%= model_class.human_attribute_name(:action_result) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= link_to job.scheduled_action, scheduled_action_path(job.scheduled_action) %></td>
        <td><%= job.cloudstack_job %></td>
        <td><%= job.action_result %></td>
        <td><%=l job.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
