<%- model_class = ScheduledAction -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:vm_id) %></th>
      <th><%= model_class.human_attribute_name(:action) %></th>
      <th><%= model_class.human_attribute_name(:scheduled_time) %></th>
      <th><%= model_class.human_attribute_name(:frequency) %></th>
      <th><%= model_class.human_attribute_name(:recurring) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @scheduled_actions.each do |scheduled_action| %>
      <tr>
        <td><%= scheduled_action.vm %></td>
        <td><%= scheduled_action.action %></td>
        <td><%= scheduled_action.scheduled_time %></td>
        <td><%= scheduled_action.frequency %></td>
        <td><%= scheduled_action.recurring %></td>
        <td><%=l scheduled_action.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_scheduled_action_path(scheduled_action), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      scheduled_action_path(scheduled_action),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>