<%- model_class = Vm -%>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:uuid) %></th>
      <th><%= model_class.human_attribute_name(:api_key) %></th>
      <th><%= model_class.human_attribute_name(:api_secret) %></th>
      <th><%= model_class.human_attribute_name(:provider) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @vms.each do |vm| %>
      <tr>
        <td><%= vm.name %></td>
        <td><%= vm.uuid %></td>
        <td><%= vm.api_key %></td>
        <td><%= vm.api_secret %></td>
        <td><%= vm.provider.name %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_vm_path(vm), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      vm_path(vm),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
