<%= simple_form_for @scheduled_action, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :vm_id, collection: Vm.all  %>
  <%= f.input :action, collection: Action.select_options %>
  <%= f.input :scheduled_time %>
  <%= f.input :recurring %>
  <%= f.input :frequency, collection: Frequency.select_options %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                scheduled_actions_path, :class => 'btn' %>
  </div>
<% end %>
