<%- model_class = ScheduledAction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render partial: "tables/scheduled_actions", locals: {scheduled_actions: @scheduled_actions} %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_scheduled_action_path,
            :class => 'btn btn-primary' %>
