<%- model_class = ScheduledAction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:vm_id) %>:</strong></dt>
  <dd><%= @scheduled_action.vm_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:action) %>:</strong></dt>
  <dd><%= @scheduled_action.action %></dd>
  <dt><strong><%= model_class.human_attribute_name(:scheduled_time) %>:</strong></dt>
  <dd><%= @scheduled_action.scheduled_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:frequency) %>:</strong></dt>
  <dd><%= @scheduled_action.frequency %></dd>
  <dt><strong><%= model_class.human_attribute_name(:recurring) %>:</strong></dt>
  <dd><%= @scheduled_action.recurring %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              scheduled_actions_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_scheduled_action_path(@scheduled_action), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              scheduled_action_path(@scheduled_action),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
